.fce-has-conflict .notice {
	display: none !important;
}

.fce-resolution-header {
	margin-left: -22px;
	margin-right: -20px;
	padding: 20px 30px;

	background-color: #23282d;
	color: #fff;

	font-size: 1.125rem;
	font-weight: normal;
	line-height: 1.4;
	text-align: center;
}

.fce-resolution-subhead {
	margin-bottom: 14px;

	font-size: 20px;
}

.fce-diff-pair {
	position: relative;
}

.fce-diff-tabs {
	position: absolute;
	top: 0;
	right: 0;
}

.fce-diff-tab {
	display: inline-block;

	height: 20px;

	background-color: #ebebeb;
	color: #666;

	margin: 5px 0 0 5px;
	padding: 3px 8px 4px;

	border: 1px solid #e5e5e5;
	border-bottom-width: 0;
	border-radius: 4px 4px 0 0;

	cursor: pointer;

	font-size: 13px;
	line-height: 19px;
}

.fce-diff-tab--active {
	background-color: #f5f5f5;
}

.fce-diff {
	display: none;

	margin-bottom: 20px;
}

.fce-diff--active {
	display: block;
}

table.diff {
	padding: 10px;

	background-color: #fff;

	border: 1px solid #e5e5e5;
	white-space: initial;
}

table.diff th,
.fce-diff-visual table.diff td {
	font-family: inherit;
}

table.diff td {
	padding: 5px 10px;

	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

table.diff tbody tr td:last-child {
	-webkit-user-select: initial;
	-moz-user-select: initial;
	-ms-user-select: initial;
	user-select: initial;
}

table.diff td img {
	display: block;

	max-width: 85% !important;
	height: auto;

	margin: 0 auto;

	border: 1px solid #ccc;
}

table.diff .diff-context {
	padding: 0.5rem 0;

	color: #999;
}

table.diff td ul li {
	margin-left: 2em;

	list-style: circle;
}
